body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.surahCard  {
  transition: 0.5s all ease-in-out;
  cursor: pointer;
}

.surahCard:hover  {
  background-color: rgba(39, 245, 217, 0.459);
transform: scale(0.95);
}

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent,#30ff00);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(transparent,#00c6ff);
  width: 13px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.modal-dialog{
  max-width: 90% !important;
  max-height: 80% !important;
}
