body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar{
  width: 13px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent,#30ff00);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(transparent,#00c6ff);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.modal-dialog{
  max-width: 90% !important;
  max-height: 80% !important;
}
